name: Deploy to fly.io

on:
  push:
    tags:
      - v1.*

jobs:
  test-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: python3 -m venv venv
      - run: source venv/bin/activate
      - run: pip install --upgrade pip
      - run: sudo pip install --upgrade pip
      - run: pip install --user tox
      - run: cd stableperovskites-api
      - run: tox
  deploy-to-fly:
    name: Deploy app to fly.io
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Deploy to fly.io
        uses: superfly/flyctl-actions/setup-flyctl@master

      - run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
